body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #3030d9, #64b740);
    box-shadow: 0 4px 8px rgba(0, 0, 139, 0.5);
}

#phaser-game {
    display: flex;
    justify-content: center;
    align-items: center;
}